<div class="container">
  <!--FORM-->
  <form class="mt-5" #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
    <!--NAME INPUT-->
    <div class="form-group">
      <label>Name: </label>
      <input
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        #nameValue="ngModel"
        required
      >

      <!--ALERT-->
      <div
        class="alert alert-danger mt-2"
        *ngIf="nameValue.errors?.required && nameValue.touched"
      >
        Name must be empty!
      </div>
    </div>

    <!--EMAIL INPUT-->
    <div class="form-group">
      <label>Email: </label>
      <input
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        #emailValue="ngModel"
        required
        email
      >

      <!--ALERTS-->
      <div
        class="alert alert-danger mt-2"
        *ngIf="emailValue.errors?.required && emailValue.touched"
      >
        Email must be empty!
      </div>
      <div
        class="alert alert-danger mt-2"
        *ngIf="!emailValue.errors?.required && emailValue.invalid"
      >
        Email: example@example.com
      </div>
    </div>
    <button class="btn btn-success">Save</button>
  </form>

  <!--TABLE USERS-->
  <table class="table" *ngIf="users.length">
    <tr *ngFor="let user of users; let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><button class="btn btn-danger" (click)="removeUser(i)">Delete</button></td>
    </tr>
  </table>
</div>
